.nav-bar-item {
    position: relative;
    color: var(--text);
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.3s ease;
    transform: translateY(0);
}

.nav-bar-item:hover {
    color: var(--tertiary);
    transform: translateY(-2px);
}

.nav-bar-item::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--tertiary);
    transition: width 0.3s ease;
}

.nav-bar-item:hover::before {
    width: 100%;
}